[build]
  publish = "."
  functions = "netlify/functions"

[dev]
  command = "npm run serve"
  targetPort = 3000
  port = 8888
  autoLaunch = false

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
