[build]
  publish = "."
  functions = "netlify/functions"

[dev]
  framework = "#static"
  autoLaunch = false
  port = 8888
  targetPort = 3999
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
