[build]
  command = "npm run build"
  publish = "."
  functions = "netlify/functions"

[dev]
  framework = "#static"
  targetPort = 3000
  port = 8888
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
